* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.grid {
  width: 100%;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer, .grid-item {
  width: 20%;
}

.type_text {
  background-color: red;
  color: #fff;
}

.type_text {
  padding: 20px 22px;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-family: Georgia, serif;
}

.quote_start {
  font-size: 24px;
  line-height: 24px;
}

.quote_end {
  font-size: 24px;
  line-height: 24px;
}

/*================================= Tablet ====================================*/
@media only screen and (max-width:980px){

  .type_text {
    padding: 20px 22px;
    font-size: 16px;
    line-height: 22px;
  }

  .quote_start {
    line-height: 22px;
  }
  
  .quote_end {
    font-size: 22px;
    line-height: 22px;
  }

} 

/*================================= Mobile ====================================*/
@media only screen and (max-width:600px){

}   